.container {
  width: 70ex;
  display: flex;
  flex-direction: column;
  padding: 5ex;
  border-radius: var(--border-radius);
  background-color: var(--bg-darker);
}

.title > h1 {
  font-weight: 700;
}

.title > p {
  color: grey;
}

.preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4ex;
}

.preview > h1 {
  width: 5ex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.previewInfo {
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.previewInfo > p {
  color: grey;
}

.form {
  padding: 2ex 0ex 2ex 0ex;
  display: flex;
  flex-direction: column;
}

.form > input {
  margin-bottom: 1ex;
  background-color: var(--bg-dark);
}

.iconForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin-bottom: 5.5ex;
  margin-left: 0.5ex;
}

.return {
  color: grey;
  align-self: center;
  margin-top: 1ex;
  cursor: pointer;
}
