.container {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.form {
  padding: 8ex 4ex 8ex 4ex;
  width: 50%;
  height: 46ex;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-darker);
  border-radius: 3ex 0ex 0ex 3ex;
}
.photo {
  padding: 2ex;
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  border-radius: 0ex 3ex 3ex 0ex;
}

.photo > img {
  width: 75%;
}

.title {
  margin-bottom: 4ex;
}

.title > h5 {
  color: rgb(204, 204, 204);
}

.title > h1 {
  font-weight: 700;
}

.form > label {
  margin-bottom: 0.5ex;
  display: flex;
  align-items: center;
}

.form > input {
  height: 4ex;
  margin-bottom: 3ex;
  background-color: var(--bg);
}

.form > button {
  margin-bottom: 2ex;
}

.form > u {
  color: grey;
  cursor: pointer;
  font-weight: 700;
}

.form > u:hover {
  color: rgb(105, 105, 105);
}

.createContainer {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11pt;
}

.create {
  font-weight: 700;
  color: var(--bg-accent);
  flex: 1;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.create:hover {
  text-decoration: underline;
}

.createContainer > u {
  cursor: pointer;
  text-decoration: none;
}

.createContainer > u:hover {
  text-decoration: underline;
}
