.container {
  width: 100%;
  display: grid;
  gap: 0px 0px;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-areas:
    "photo   form";
}

.photo {
  width: 100%;
  padding-top: 2ex;
  padding-bottom: 0px;
  grid-area: photo;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.photo > img {
  width: 95%;
  height: 100%;
}

.title {
  margin-bottom: 1.5em;
}

.form{
  background-color:var(--bg-login);
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emailLabel {
  text-align: center;  
  margin-bottom: 1em;
}

.form input,
.form button{ 
  margin-bottom: 1.5em;
}

.userInput {
  width: 70%;
}

.form u {
  cursor: pointer;
  color: grey;
}

.form u:hover {
  color: #696969;
}

.form label,
.form button {
  width: 70%;
  margin-bottom: 0.5em;
}


.digitCode {
  padding-left: 0px;
  padding-right: 0px;
  font-size: 20pt;
  width: 1.5em;
  text-align: center;
  /* background-color: lightyellow; */
  background-color: #191a1a;
}

.codeInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

