.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form u {
  cursor: pointer;
  color: grey;
}

.form u:hover {
  color: #696969;
}
