.container {
  width: 100%;
  display: grid;
  gap: 0px 0px;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-areas:
    "form   photo";
  margin-top: 10%;

}

.photo {
  width: 100%;
  padding: 3ex;
  grid-area: photo;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.photo > img {
  width: 100%;
  height: 100%;
}

.form{
  background-color:var(--bg-login);
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 6ex 0 6ex;
}

.form u {
  cursor: pointer;
  color: grey;
}

.form u:hover {
  color: #696969;
}

.form input,
.form button{ 
  margin-bottom: 1.5em;
}

.form label {
  margin-bottom: 1ex;
}

.form input,
.form label {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.form button {
  width: 100%;
}
