.container {
  width: 70%;
  display: grid;
  gap: 0px 0px;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas:
    "photo"
    "form";
}

.photo {
  padding-top: 1em;
  width: 100%;
  grid-area: photo;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.photo > img {
  width: 40%;
}

.form {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: var(--bg-login);
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form u {
  cursor: pointer;
  color: grey;
}

.form u:hover {
  color: #696969;
}

.form input,
.form button {
  margin-bottom: 0.5em;
}

.digitCode {
  margin-left: 0.5%;
  margin-left: 0.5%;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 30pt;
  width: 1em;
  text-align: center;
  background-color: #191a1a;
}

.codeInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
