.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container > h2 {
  margin-top: 0.5ex;
  font-weight: 500;
  align-self: center;
}

.container > h4 {
  align-self: center;
  color: grey;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 13rem;
  height: 13rem;
  align-self: center;
  border-radius: 50%;
  overflow: hidden;
}

.action {
  padding: 0ex 1ex 0ex 1ex;
  margin: 0.5ex 1ex 0.5ex 1ex;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 13pt;
  cursor: pointer;
}

.action:hover {
  background-color: grey;
  border-radius: var(--border-radius);
}

.action > p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.action > strong {
  padding-top: 0.6ex;
  margin-right: 0.5ex;
}

.other {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 1ex;
}

.other > button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
