.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 1ex 0ex 1ex 0ex;
}

.container > input {
  background-color: var(--bg);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.container > button {
  color: black;
  border-left: 1px solid grey;
  background-color: white;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
