.contentHead {
  grid-area: contentHead;
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2ex;
}

.contentHead > p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 5ex;
}

.content {
  grid-area: content;
  background-color: var(--bg-darker);
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0px 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.9fr 0.1fr;
  grid-template-areas:
    "list"
    "input";
}

.messageList {
  grid-area: list;
  padding: 0ex 2ex 0ex 2ex;
  overflow: hidden;
}

.inputContainer {
  grid-area: input;
  background-color: rgba(102, 51, 153, 0.075);
}
