.agreementPage {
  padding: 1rem 15rem 15rem 15rem;
}

.agreementPage > h1, h2, h3 {
  color: var(--bg-accent);
}

.agreementPage > h5 {
  color: grey;
  margin-left: 3ex;
}

.agreementPage > li {
  color: grey;
}
