<html>
  <head>

  </head>
  <body>
    <h1>Cryptalk Room Viewer</h1>
    <% for (let [key, value] of Object.entries(rooms)) {%>
      <strong><%= key %></strong>
      <ul>
        <% value.forEach(function(user) { %>
          <li>
            <%= user.username%>
            <%= user.sub%>
          </li>
        <% }); %>
      </ul>
      <hr/>
    <% } %>
  </body>
</html>
