.attatchment {
  color: grey;
  font-size: 10pt;
}

.imageContainer {
  margin:0 auto;
  padding-top: 0;
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview {
  width: 14vw;
  min-width: 20ex;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1ex 0ex 0ex 0ex;
  width: 100%;
}

.main > input {
  flex: 1;
}

.main > .attatchFileIcon {
  color: grey;
  margin-right: 1ex;
  font-size: 16pt;
  cursor: pointer;
}

.main > .attatchFileIcon:hover {
  color: var(--bg-accent);
}

.main > .sendIcon {
  color: grey;
  margin-left: 1ex;
  font-size: 16pt;
  cursor: pointer;
}

.main > .sendIcon:hover {
  color: var(--bg-accent);
}
