.container {
  padding: 4ex;
  display: flex;
  flex-direction: column;
}

.subContainer {
  display: flex;
  flex-direction: row;
}

.subContainerDiv {
  padding: 2ex;
}

.subContainerDivHalf {
  width: 50%;
  padding: 2ex;
  overflow-y: visible;
}

.subtitle {
  color: grey;
  font-weight: 600;
}

.title {
  font-weight: 700;
}

.title > h6 {
  margin-top: 0;
}

.setting {
  display: flex;
  flex-direction: column;
  margin-bottom: 2ex;
}

.setting > h5 {
  font-weight: 600;
  margin-bottom: 0.5ex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.setting > h6 {
  margin-top: 0;
  font-weight: 700;
}

.setting > input {
  font-weight: 200;
}

.setting > button {
  margin-bottom: 1ex;
}

.submit {
  display: flex;
  flex-direction: column;
  margin-bottom: 2ex;
}

.emojiContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.emojiContainer > p {
  font-size: 32pt;
}

.subChannels {
  max-height: 80ex;
  overflow-y: scroll;
  padding: 0ex 0ex 2ex 0ex;
}

.subChannel {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1ex;
  border-radius: var(--border-radius);
  background-color: var(--bg);
  margin-bottom: 1ex;
}

.subChannel > p {
  margin-left: 1ex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subChannelType {
  margin-top: 1ex;
  display: flex;
  flex-direction: row;
}

.subChannelType > button {
  flex: 1;
}

.avatar {
  width: 2ex;
  height: 2ex;
  border-radius: 50%;
}
