.container {
  height: calc(99.9vh - var(--nav-size) - 0ex);
  display: grid;
  gap: 0px 0px;
  grid-template-columns: 0.25fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas:
    "sidebar page page page"
    "sidebar page page page";
}

.sidebar {
  grid-area: sidebar;
  padding: 2ex;
  background-color: var(--bg-darker);

}

.sidebar > h3 {
  font-weight: 600;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1ex;
  margin-top: 1ex;
}

.header > h5 {
  font-weight: 700;
}

.header > .spacer {
  flex: 1;
  margin: 0ex 2ex 0ex 2ex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.116);
}

.header > .icon {
  color: grey;
  font-weight: 700;
  cursor: pointer;
}

.header > .icon:hover {
  color: var(--bg-accent)
}

.spacer {
  flex: 1;
  margin: 0ex 2ex 0ex 2ex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.116);
}

.itemContainer {
  display: flex;
  flex-direction: row;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 11pt;
  padding: 1ex 0ex 1ex 0ex;
}

.itemContainer:hover {
  background-color: var(--bg);
}

.itemInfo {
  display: flex;
  flex-direction: column;
}

.itemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5ex;
}

.page {
  grid-area: page;
}
