.channel-settings {
  transition: all 0.3s ease-in-out;
  padding: 4rem 10rem 10rem 10rem;
  height: calc(99.9vh - var(--nav-size) - 14rem);
}

.channel-settings-container {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0px 0px;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 0.2fr 1.5fr;
  grid-template-areas:
    "head none none"
    "tabs content content"
    "tabs content content"
    "tabs content content";
}

.channel-settings-head {
  grid-area: head;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3ex;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--bg-gradient-border);
}

.channel-settings-head > h2 {
  margin-left: 1ex;
}

.channel-settings-tabs {
  padding-top: 2ex;
  grid-area: tabs;
  display: flex;
  flex-direction: column;
}

.channel-settings-tabs > strong {
  color: grey;
  font-size: 9pt;
  margin-bottom: 1ex;
}

.channel-settings-tabs > span {
  color: rgb(216, 216, 216);
  border-radius: var(--border-radius);
  padding: 0.5ex 1.2ex 0.5ex 1.2ex;
  margin-bottom: 0.4ex;
}

.channel-settings-tabs > span:hover {
  background-color: var(--bg);
}

.channel-settings-content {
  padding: 0ex 2ex 2ex 2ex;
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.channel-settings-content-main {
  padding: 0ex 2ex 2ex 2ex;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.channel-settings-content-save {
  align-self: flex-end;
}

.channel-settings-content-save > button {
  padding: 1ex 1.5ex 1ex 1.5ex;
  margin-right: 1ex;
  font-weight: lighter;
  color: var(--bg-accent);
  background-color: var(--bg-accent-dark);
  border-radius: var(--border-radius);
  border: 1px solid var(--bg-accent);
}

.channel-settings-content-field > strong {
  color: grey;
  font-size: 9pt;
  margin-bottom: 1ex;
}

.channel-settings-content-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 2ex;
}

.channel-settings-content-field > input {
  padding: 1ex;
  border: 0;
  width: auto;
}

.channel-settings-content-field > h6 {
  margin: 0;
  margin-left: 1ex;
  color: white;
}

.channel-settings-content-subchannel {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1ex;
  font-size: 11pt;
  border-radius: var(--border-radius);
}

.channel-settings-content-subchannel > .subchannel-icon {
  width: 2.5ex;
  height: 2.5ex;
  margin-right: 0.8ex;
  color: grey;
}

.channel-settings-content-subchannel:hover {
  background-color: var(--bg);
}

.setKJaw0q-main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.setKJaw0q-list {
  width: 70%;
  padding: 3ex;
  border-right: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--bg-gradient-border-vert);
}

.setKJaw0q-add {
  width: 30%;
  padding: 3ex;
}

.setKJaw0q-add h2 {
  text-align: center;
}

.setKJaw0q-add hr {
  margin: 1ex 0ex 1ex 0ex;
}

.setKJaw0q-add label {
  color: grey;
  font-size: 8pt;
}

.setKJaw0q-add input {
  border: none;
  padding: 2ex;
  margin-bottom: 1ex;
}

.setKJaw0q-add button {
  width: 100%;
  padding: 1ex 1.5ex 1ex 1.5ex;
  margin-right: 1ex;
  font-weight: lighter;
  color: var(--bg-accent);
  background-color: var(--bg-accent-dark);
  border-radius: var(--border-radius);
  border: 1px solid var(--bg-accent);
}

.setKJaw0q-add-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5ex;
}

.setKJaw0q-select-text {
  padding: 2ex;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--bg-darker);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.setKJaw0q-select-text:hover {
  color: var(--bg-accent);
}

.setKJaw0q-select-voice {
  padding: 2ex;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--bg-darker);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.setKJaw0q-select-voice:hover {
  color: var(--bg-accent);
}

.setKJaw0q-selected {
  color: var(--bg-accent);
  text-decoration: underline;
}

.per18kj21-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3ex;
}

.per18kj21-userlist {
  margin-left: 4ex;
}

.per18kj21-userlist hr {
  margin-top: 0.5ex;
}

.per18kj21-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1ex;
}

.per18kj21-user p {
  margin: 0;
  color: grey;
  font-size: 9pt;
  margin-left: 1ex;
}
