p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

h6 {
  color: grey;
  margin-top: 3ex;
}

.background {
  transition: all 0.3s ease-in-out;
  padding: 4rem 10rem 10rem 10rem;
  height: calc(99.9vh - var(--nav-size) - 8rem);
  /* background: url(../assets/homepage-background.jpg) repeat;
  background-size: cover; */
}

.dashboard-container {
  min-height: 100%;
  border-radius: 2ex;
  background-color: var(--bg-dark);
  display: grid;
  grid-template-columns: 0.35fr 0.55fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "people feed feed"
    "people feed feed"
    "people feed feed";
}

/* People Section --------------------------------------------------------------- */

.people {
  grid-area: people;
  padding: 5ex;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
}

.people-title {
  padding-bottom: 3ex;
}

.people-list {
  width: 100%;
  flex-grow: 1;
  padding: 1ex 3ex 3ex 3ex;
  /* background-color: var(--bg-darker);
  border-radius: var(--border-radius) var(--border-radius) 0 0; */
}

.people-add-form {
  display: flex;
  width: 100%;
  padding: 0ex 3ex 3ex 3ex;
  /* background-color: var(--bg-darker);
  border-radius: 0 0 var(--border-radius) var(--border-radius); */
}

.people-add-form > input {
  padding-left: 3ex;
  border: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.people-add-form > button {
  width: 2.5rem;
  height: auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.people-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2ex;
}

.people-avatar {
  width: 5ex;
  margin-right: 3ex;
  border-radius: 50%;
  box-shadow: 0 0px 10px #0000009c;
  /* border: var(--border); */
}

.people-info {
  font-size: 11pt;
  flex-grow: 1;
}


.people-info-status {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: grey;
}

.people-info-status > .status-icon {
  color: green;
  margin-right: 1ex;
  margin-top: 0.2ex;
}

.settings-icon {
  margin-left: 1ex;
  color: grey;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dm-icon {
  margin-left: 1ex;
  color: grey;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.people-container > .settings-icon:hover {
  transform: rotate(180deg);
  filter: brightness(1.3);
}

.people-container > .dm-icon:hover {
  filter: brightness(1.3);
}

.people-settings-container {
  z-index: 20;
  border-radius: var(--border-radius);
  font-size: 10pt;
  position: absolute;
  width: 10rem;
  left: 105%;
  background-color: var(--bg);
}

.people-settings-container > ul > li > span {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.1s ease-in-out;
  padding: 2ex 2ex 2ex 2ex;
}

.people-settings-container > ul > li > hr {
  margin: 0;
}

.people-settings-container > ul > li > span > .icon {
  margin-right: 1ex;
}

.people-settings-container > ul > li {
  transition: all 0.1s ease-in-out;
  opacity: 0.5;
}

.people-settings-container > ul > li:hover {
  opacity: 1;
}

/* Request Section --------------------------------------------------------------- */

.request-container {
  display: flex;
  flex-direction: row;
  margin-top: 3ex;
}

.request-info {
  width: 70%;
}

.request-actions {
  padding-top: 0.5ex;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.request-actions > span > i {
  font-size: 10pt;
  margin-top: -0.5ex;
}

.request-actions > span {
  margin: 0;
  font-size: 14pt;
}

.request-accept {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.5ex;
  color: var(--bg-accent);
  transition: all 0.3s ease-in-out;
}

.request-reject {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.5ex;
  color: rgb(201, 113, 62);
  transition: all 0.3s ease-in-out;
}

.request-accept:hover, .request-reject:hover {
  transform: scale(1.3);
}

.request-from {
  font-size: 10pt;
  color: grey;
}

/* Notifications Section --------------------------------------------------------------- */

.notifications-container {
  padding: 5ex;
  grid-area: feed;

}

.notifications-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 3ex;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--bg-gradient-border-faint);
}

.notifications-tabs > span {
  transition: all 0.3s ease-in-out;
}

.notifications-tabs > span:hover {
  filter: opacity(0.5);
}
