.footer-container {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.footer-button {
  background-color: var(--bg-accent);
  color: #0f0f0f;
  box-shadow: 0px 0px 20px #0f0f0f;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footer-menu {
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  box-shadow: 0px 0px 20px #0f0f0f;
  padding: 0.5rem;
}

.footer-menu > a, span {
  margin-right: 0.5rem;
}

.trademark {
  opacity: 50%;
}

.hyperlink {
  color: var(--bg-accent);
}

.spacer {
  margin-left: 10px;
  margin-right: 10px;
}
