.home {
  padding: 0rem 15rem 15rem 15rem;
  height: calc(99.9vh - var(--nav-size));
}

.home-container {
  height: 100%;
  background-color: var(--bg-dark);
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "blank blank blank"
    "title title image";
}

.home-title {
  width: 100%;
  padding-left: 3ex;
  padding-right: 3ex;
  grid-area: title;
  display: flex;
  flex-direction: column;
}

.home-title > h1 {
  font-weight: 600;
  font-size: 8ex;
}

.home-title > p {
  font-size: 3ex;
  color: rgb(199, 199, 199);
}

.home-title > button {
  padding: 1.5ex;
  margin-top: 3ex;
  margin-bottom: 3ex;
  width: 50%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-weight: lighter;
  color: var(--text-color);
  background-color: var(--bg-darker);
  border-radius: var(--border-radius);
}

.home-title > img {
  width: 15ex;
  margin-left: -4ex;
  margin-bottom: -5ex;
}

.home-image {
  grid-area: image;
}

.home-image > img {
  width: 37rem;
}

@media only screen and (max-width: 1300px) {
  .home {
    padding: 4rem 8rem 8rem 8rem;
  }

  .home-container {
    grid-template-areas:
      "title title title"
      "image image image";
  }

  .home-title {
    margin-bottom: 5ex;
    justify-content: center;
    align-items: center;
  }

  .home-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-title > img {
    width: 15ex;
    margin-left: 0ex;
    margin-bottom: -5ex;
  }

  .home-title > p {
    text-align: center;
  }
}
