.home {
  height: calc(99.9vh - var(--nav-size));
  background: url(../assets/homepage-background.jpg) repeat;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". Logo Animated"
    "Caption Caption Caption";
}

.Logo {
  grid-area: Logo;
  object-fit: cover;
  width:100%;
}

.Animated {
  grid-area: Animated;
  /* TODO: Fix animation, make scaleable with page */
}

.Caption {
  grid-area: Caption;
  color: grey;
  font-weight: lighter;
  font-size: 3ex;
  align-self: flex-start;
  justify-self: center;
}
















.anim-place {
  position: relative;
  font-size: 60pt;
  font-weight: lighter;

  margin-bottom: 0.7ex;

  color: var(--bg-accent);
  animation-name: flick;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes flick {
  0% { color: transparent; }
  50% { color: #82BFFE; }
  100% { color: transparent; }
}

@media only screen and (max-width: 720px) {
  .anim {
    display: none;
  }

  .anim-place {
    display: none;
  }

  .home-logo {
    width: 50vw;
  }

  .caption {
    display: none;
  }
}
