.form-top {
  background-color: #0E81CE;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.form-top > h1 {
  font-size: xx-large;

  margin: 0;
}

.form-divider {
  position: relative;
}

.form-bottom {
  background-color: var(--bg);
  color: var(--text-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 10% 10% 10%;
}

.form-bottom > input {
  margin: 2.5%;
}

.form-bottom > button {
  margin: 2.5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.form-bottom > label {
  margin-bottom: -2.5%;
  margin-top: 2.5%;
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.form-bottom > span {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(155, 155, 155);
}

.login-container {
  height: calc(99.9vh - var(--nav-size));
  background: url(../assets/homepage-background.jpg) repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container {
  color: var(--bg) !important;
  border-radius: var(--border-radius);
  min-width: 30%;
}

.custom-shape-divider-top-1629434998 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1629434998 svg {
  position: relative;
  display: block;
  width: calc(110% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1629434998 .shape-fill {
    fill: #0E81CE;
}
