.container {
  display: flex;
  flex-direction: column;
}

.title {
  padding: 2ex 0ex 2ex 0ex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  padding: 2ex 25ex 2ex 25ex;
  display: flex;
  flex-direction: column;
}

.actions {
  padding: 2ex 25ex 2ex 25ex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actions > u {
  color: grey;
  cursor: pointer;
}

.actions > button {
  width: 100%;
}
