.channels {
  /* padding: 5ex; */
  height: calc(99.9vh - var(--nav-size) - 0ex);
}

.gridContainer {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0px 0px;
  grid-template-columns: 0.2fr 0.2fr 0.5fr 0.5fr;
  grid-template-rows: 0.1fr 0.5fr 0.5fr;
  grid-template-areas:
    "title    subTitle    contentHead   contentHead"
    "list     sublist     content       content"
    "list     sublist     content       content";
}

.gridContainerPopup {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0px 0px;
  grid-template-columns: 0.2fr 0.2fr 0.5fr 0.5fr;
  grid-template-rows: 0.1fr 0.5fr 0.5fr;
  grid-template-areas:
    "title  popup popup popup"
    "list   popup popup popup"
    "list   popup popup popup";
}

.gridTitle {
  grid-area: title;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 100;
  background-color: var(--bg-darker);
  padding: 0ex 3ex 0ex 3ex;
}

.searchBar {
  width: 100%;
  color: grey;
  border-radius: var(--border-radius);
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5ex 2ex 0.5ex 2ex;
}

.searchBar > .icon {
  margin-right: 1ex;
}

.searchBar > input {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.gridList {
  padding: 2ex;
  grid-area: list;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-darker);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1ex;
  margin-top: 1ex;
}

.header > h5 {
  font-weight: 700;
}

.header > .spacer {
  flex: 1;
  margin: 0ex 2ex 0ex 2ex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.116);
}

.header > .icon {
  color: grey;
  font-weight: 700;
  cursor: pointer;
}

.header > .icon:hover {
  color: var(--bg-accent)
}

.subTitle {
  grid-area: subTitle;
  min-width: 30ex;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-weight: 700;
  background-color: #1d1c1c;
  padding: 1.5ex 0ex 0ex 3ex;
  border-left: 1px solid #353535;
}

.subTitle > p {
  display: flex;
  align-items: center;
  color: grey;
  font-size: 18pt;
  margin-right: 1ex;
}

.subTitleContainer > p {
  font-size: 8pt;
  color: grey;
  margin-left: 4.2ex;
}

.sublist {
  padding: 2ex;
  grid-area: sublist;
  background-color: #1d1c1c;
  border-left: 1px solid #353535;
  border-right: 1px solid #353535;
}

.noneMsg {
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentHead {
  grid-area: contentHead;
  background-color: #1d1c1c;
  border-bottom: 1px solid #353535;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contentHeadContainer {
  padding: 0ex 3ex 0ex 3ex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contentHeadContainer > p {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: grey;
  margin-right: 1ex;
}

.contentHeadContainer > .spacer {
  flex: 1;
  margin: 0ex 2ex 0ex 2ex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.116);
}

.adminActionsContainer {
  width: 100%;
  padding: 0ex 3ex 0ex 3ex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  justify-self: flex-end;
}

.adminActionsContainer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1ex 2ex 1ex 2ex;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.adminActionsContainer > div:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.editCog {
  font-size: 15pt;
  color: var(--bg-accent);
  cursor: pointer;
  margin-left: 1ex;
}

.content {
  grid-area: content;
}

.gridPopup {
  grid-area: popup;
  display: grid;
  gap: 0px 0px;
  grid-template-columns: 0.3fr 0.7fr 0.3fr;
  grid-template-rows: 0.2fr 0.45fr 0.2fr;
  grid-template-areas:
    "a a a"
    "c b d"
    "e e e";
  border-left: 1px solid #353535;
}

.gridPopup > img {
  position: absolute;
  z-index: -1;
  opacity: 0.07;
}

.gridPopup > p {
  padding: 1ex;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: grey;
  cursor: pointer;
}

.gridPopup > p:active {
  transform: scale(0.9);
}
