.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 11pt;
  padding: 1ex 0ex 1ex 0ex;
}

.container:hover {
  background-color: var(--bg);
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.channelIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5ex;
}

.name {
  font-weight: bold;
  color: rgb(168, 168, 168);
}

.avatar {
  width: 3ex;
  height: 3ex;
  border-radius: 50%;
}
