@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

body {
  margin: 0;
  background-color: #1d1e1f;
  color: var(--text-color);
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg: #242526;
  --bg-accent: #252629;
  --bg-button: #242526;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid var(--bg-accent);
  --border-radius: 10px;
  --speed: 250ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

button {
  font-family: 'Titillium Web', sans-serif;
  color: var(--bg);
  background-color: #0E81CE;
  font-weight: bold;
  border: none;
  border-radius: 2ex;
  width: 100%;
  padding: 5px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.9);
  box-shadow: 0 2px 20px #0e81ce31;
}

img {
  image-rendering:-moz-crisp-edges;
}

input {
  border: none;
  background-color: var(--bg);
  color: var(--text-color);
  border-bottom: 1px solid #dadce131;
  padding: 2.5%;
  width: 95%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  width: 100px;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity var(--speed) ease-in-out;
}

.tooltip:hover .tooltip-text {
  opacity: 100;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}
