.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1ex;
  margin-top: 1ex;
}

.header > h5 {
  font-weight: 700;
}

.header > .spacer {
  flex: 1;
  margin: 0ex 2ex 0ex 2ex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.116);
}

.header > .icon {
  color: grey;
  font-weight: 700;
  cursor: pointer;
}

.header > .icon:hover {
  color: var(--bg-accent)
}
